{{ form_start(form) }}
<div class="grid gap-4 grid-cols-2 mb-2">
    <div>
        {{ form_label(form.firstName) }}
        <div class="text-sm text-red-500">
            {{ form_errors(form.firstName) }}
        </div>
        {{ form_widget(form.firstName, {'attr': {'class': 'w-full'}}) }}
    </div>
    <div>
        {{ form_label(form.lastName) }}
        <div class="text-sm text-red-500">
            {{ form_errors(form.lastName) }}
        </div>
        {{ form_widget(form.lastName, {'attr': {'class': 'w-full'}}) }}
    </div>
</div>

<div class="grid gap-4 grid-cols-2 mb-8">
    <div>
        <div class="mb-2">
            {{ form_label(form.email) }}
            <div class="text-sm text-red-500">
                {{ form_errors(form.email) }}
            </div>
            {{ form_widget(form.email, {'attr': {'class': 'w-full'}}) }}
        </div>
        <div>
            {{ form_label(form.groups) }}
            <div class="text-sm text-red-500">
                {{ form_errors(form.groups) }}
            </div>

            {{ form_widget(form.groups.0) }}
            {{ form_label(form.groups.0) }}
            <br>
            {{ form_widget(form.groups.1) }}
            {{ form_label(form.groups.1) }}
            <br>
            {{ form_widget(form.groups.2) }}
            {{ form_label(form.groups.2) }}

        </div>
    </div>
    <div>
        {{ form_label(form.observations) }}
        <div class="text-sm text-red-500">
            {{ form_errors(form.observations) }}
        </div>
        {{ form_widget(form.observations, {'attr': {'class': 'w-full h-32'}}) }}
    </div>
</div>

{{ form_row(form.save, custom_submit_label ?? {}) }}

{{ form_end(form) }}