{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">
    <h1 class="title">Lista de clientes</h1>
    {% if customers|length > 0 %}
        <div class="flex justify-end mb-4">
            <form method="get" action="/" class="flex flex-row gap-1">
                <input class="w-48" type="text" name="q" value="" />
                <button type="submit">Buscar</button>
            </form>
        </div>
        <table class="table-auto w-full">
            <thead>
                <tr class="text-left">
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Grupos</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.email }}</td>
                    <td>
                        <ul>
                            <li>Grupo A</li>
                            <li>Grupo B</li>
                            <li>Grupo C</li>
                        </ul>
                    </td>
                    <td>
                        <a class="button mb-1" href="{{ path('customer.edit', {'id': customer.id}) }}">
                            <img class="opacity-70 inline align-baseline w-3 h-3" src="{{ asset('svg/pencil.svg') }}"> Editar
                        </a><br>
                        <button class="bg-red-500 hover:bg-red-600">
                            <img class="opacity-70 inline align-baseline w-3 h-3" src="{{ asset('svg/times.svg') }}"> Eliminar
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><em>No hay clientes en la base de datos</em></p>
    {% endif %}

    <a href="{{ path('customer.create') }}">Crear nuevo cliente</a>
</div>
{% endblock %}